@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  box-sizing: border-box;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.loading {
  animation: loading-animation 0.8s linear infinite;
}

@keyframes loading-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box {
  position: relative;
}
.box::before {
  content: "";
  position: absolute;
  inset: -16px; /* control the spread */
  transform: translate(0px, 0px); /* control the offsets */
  z-index: -1; /* place the element behind */
  background: linear-gradient(
    45deg,
    rgba(157, 0, 255, 0.2),
    rgba(43, 0, 255, 0.2)
  );
  filter: blur(10px); /* control the blur */
  border-radius: 25px;
}
header {
  -webkit-box-reflect: below 5px linear-gradient(transparent 50%, #22232e20);
}